= form_for( [ forum, conversation, comment ], { :remote => true } ) do | f |
    %div.field
        = f.label( 'New Comment' )
        = f.text_area( :content )
    %div.buttons--standard
        %div.buttons--left
            = f.submit( 'Submit', { :class => 'button--bright button--standard' } )
