- content_for( :title ) { admin_new_faq_title }
- content_for( :utility_title ) { admin_new_faq_utility_title }

%main.page-content--admin
    %section.column-100
        = render( { :partial => 'form.html.haml', :locals => { :faq => @faq } } )
