- content_for( :title ) { contact_title }

%main.page-content.-lowered
    %div.content
        %h1.centered.heading.-large
            Contact Us
        %p.centered
            We would be happy to hear your comments and suggestions. On the other hand, if you have a question related to our site, feel free to direct it to us.
        %p.centered.t-subtle
            Contact form will be added in the final stages of development.
            
