- content_for( :title ) { faq_title }

%main.page-content.-lowered
    %div.content
        %div.column-100
            %h1.centered.heading.-large
                Frequently Asked Questions
            - @faqs.each do | faq |
                %p
                    = faq.question
                %p
                    = faq.answer
