- content_for( :title ) { about_title }

- content_for :body do

    %div.content
        %h2
            We're glad to see you're curious about our site! Here's what it's 
            all about...
        %br
        %h3
            What you can do here
        %br
        %p
            The goal of Inklings is to help you be a productive writer. We provide
            social features, but we also try to encourage members to keep writing 
            and stay focused. We would like our members to use this site as a tool,
            not a pastime! This is what we offer:
        %br
        %ul
            %li
                forums;
            %li
                a friend system;
            %li
                a writer's profile;
            %li
                the ability to edit, download, and upload manuscripts; and,
            %li
                Inklings.
        %br
        %hr
        %br
        %h3
            The Inklings
        %br
        %p
            The Inklings are the driving idea behind this site (it was named for them, 
            after all!). This is how they work: when you start a new manuscript, you 
            get an egg that embodies your just-created work in progress. As you write,
            the egg begins to hatch, and soon enough an Inkling will be born! This
            little creature is yours to take care of. As your manuscript's word count 
            grows, so will your Inkling, and its appearance will begin to reflect your
            writing. Be careful, though - if you stop meeting the goals you set, it 
            might get sick and even die.