- content_for( :title ) { users_account_title }

%div.page-content
    %section.content
        %h1.h--medium
            = "Account Settings"
        %div#div-gravatar
            %p
                = gravatar_for @user
                = link_to( 'Change', 'http://gravatar.com/emails', :target => '_blank' )
        %div.edit-user
            = render( { :partial => 'form.html.haml', :locals => { :user => @user } } )
