.accent {
    display: inline-block;
    font-size: 14px;
    padding: 0.25em 0;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;

    &.-bright {
        background-color: $color-alto;
        padding-left: 0.5em;
        padding-right: 0.5
    }

    &.-large {
        @include serif-family;

        font-size: 18px;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }

    &.-subtle {
        background-color: $color-gallery;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
