a {
    color: $color-link-default-text;
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: $size-button-height;
    line-height: $size-button-height;
    padding: 0;
    position: relative;
}

.button--large {
    @include serif-family;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: $size-button-large-height;
    line-height: $size-button-large-height;
    padding: 0;
    position: relative;
}

.button--large-bright {
    @extend .button--large;
    
    background-color: $color-tundora;
    color: $color-white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.button--large-light {
    @extend .button--large;
    
    background-color: $color-white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.link-light {
    background-color: $color-link-light;
    color: $color-link-light-text;
    display: block;
    margin: 0.25em 0;
    padding: 0.5em;
    
    &:active {
        background-color: $color-link-light-active;
    }
    
    &:hover {
        background-color: $color-link-light-hover;
    }
}

.link-dark {
    background-color: $color-link-dark;
    color: $color-link-dark-text;
    display: block;
    margin: 0.25em 0;
    padding: 0.5em;
    
    &:active {
        background-color: $color-link-dark-active;
    }
    
    &:hover {
        background-color: $color-link-dark-hover;
    }
}

/* .link-subtle */