a {
    color: $color-link-default-text;
    text-decoration: none;
}

.button--large {
    @include button( $size-button-large-height );
    
    font-size: 20px;
}

.button--standard {
    @include button( $size-button-height );
}

.button--bright {
    background-color: $color-boulder;
    color: $color-white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.button--dark {
    background-color: $color-tundora;
    color: $color-white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.button--light {
    background-color: $color-white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.button--subtle {
    background-color: $color-gallery;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.buttons--standard {
    padding-top: 0.5em;
}

.buttons--large {
    padding-top: 1em;
}

.link-light {
    background-color: $color-link-light;
    color: $color-link-light-text;
    display: block;
    margin: 0.25em 0;
    padding: 0.5em;
    
    &:active {
        background-color: $color-link-light-active;
    }
    
    &:hover {
        background-color: $color-link-light-hover;
    }
}

.link-dark {
    background-color: $color-link-dark;
    color: $color-link-dark-text;
    display: block;
    margin: 0.25em 0;
    padding: 0.5em;
    
    &:active {
        background-color: $color-link-dark-active;
    }
    
    &:hover {
        background-color: $color-link-dark-hover;
    }
}
