.flash {
    background-color: $color-silver;
    border-color: $color-black;
    border-bottom-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    color: $color-black;
    line-height: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    width: 100%;

    &.-danger {
        background-color: $color-silver;
        border-color: $color-black;
        color: $color-black;
    }

    &.-info {
        background-color: $color-silver;
        border-color: $color-black;
        color: $color-black;
    }

    &.-success {
        background-color: $color-silver;
        border-color: $color-black;
        color: $color-black;
    }

    &.-warning {
        background-color: $color-silver;
        border-color: $color-black;
        color: $color-black;
    }
}

.admin {
    #flash-container {
        left: 20em;
        position: absolute;
        right: 0;
        top: 8em;
    }
}
