footer {
    background-color: $color-alabaster;
    bottom: 0;
    display: block;
    height: 15em;
    overflow: hidden;
    padding-bottom: 2em;
    padding-top: 2em;
    position: absolute;
    width: 100%;
    
    ul {
        float: left;
        font-size: 18px;
        line-height: 1.5em;
        margin-right: 4em;
    }
    
    .content {
        padding-top: 2em;
    }
}
