footer {
    background-color: $color-alabaster;
    display: block;
    overflow: hidden;
    padding-bottom: 4em;
    padding-top: 4em;
    width: 100%;
}

.footer__links {
    float: right;
    margin-top: 1em;
    overflow: hidden;
    
    li {
        float: left;
        font-size: 1.125em;
        margin-left: 2em;
    }
}
