.nudged { margin-top: 0.5em; }
.bumped { margin-top: 1em; }
.pushed { margin-top: 2em; }
.shoved { margin-top: 4em; }

.pillowed { padding-top: 1em; }
.cushioned { padding-top: 2em; }
.insulated { padding-top: 3em; }

.full-height { height: 100%; }

.full-width { width: 100%; }
a.full-width, input[type=submit].full-width { display: block; text-align: center; }

.interactable { cursor: pointer }
