.dropdown {
    ul {
        background-color: $color-dropdown;
        border-color: $color-dropdown-border;
        border-style: solid;
        border-width: 0.1em;
        margin: 0;
        padding: 0;
        position: absolute;
        visibility: hidden;
        
        &:after {
            border-left: 0.8em solid transparent;
            border-right: 0.8em solid transparent;
            border-bottom: 1em solid $color-dropdown-border;
            content: '';
            display: block;
            left: 1.15em;
            height: 0;
            position: absolute;
            top: -1em;
            width: 0; 
        }
        
        li {
            display: block;
            float: none;
            line-height: 2.5em;
            width: 100%;
            
            a {
                display: block;
                height: 100%;
                padding: 0 2em;
                
                &:hover {
                    background-color: $color-dropdown-hover;
                }
            }
        }
    }
}

.dropdown__label {
    cursor: default;
    display: inline;
    
    &:after {
        content: '';
        display: inline-block;
        height: 0;
        width: 0; 
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-top: 0.5em solid $color-dropdown-arrow;
    }
}

.header-tabs {
    background-color: $color-gallery;
    line-height: 3em;
    
    ul {
        list-style: none;
        width: 100%;
        
        li {
            display: inline-block;
            float: left;
            height: 100%;
            text-align: center;
            width: 25%;
            
            a {
                border-color: $color-header-tabs-border;
                border-style: solid;
                border-width: 0.1em;
                display: block;
                height: 100%;
                padding: 0;
                text-transform: uppercase;
                width: 100%;
                
                &.open {
                    border-bottom-color: $color-white;
                    background-color: $color-white;
                }
            }
        }
    }
}

.main-header {
    background-color: $color-alabaster;
    line-height: 4em;
    width: 100%;
}

.main-header__nav {
    float: left;
    
    a {
        padding-bottom: 0.125em;
        padding-top: 0.125em;
        text-transform: uppercase;
        
        &.open {
            border-bottom: 1px solid $color-text-default;
        }
    }
    
    & > ul {
        list-style: none;
        
        & > li {
            display: inline-block;
            margin-left: 2em;
        }
    }
}

.main-header__logo {
    @include accent-family;

    float: left;
    font-size: 2.5em;
}

.navbar {
    background-color: $color-white;
    height: 3.5em;
    width: 100%;
    
    hr {
        margin: 0;
    }
}

.navbar__content {
    border-bottom: 1px solid $color-silver;
    height: 100%;
    margin: 0 auto;
    width: $size-content-width;
}

.select-navigation {
    margin: 0;
    width: 20em;
}

.sub-header {
    background-color: $color-alabaster;
    padding: 2em 0;
    width: 100%;
}
