header {
    width: 100%;
}

.dropdown-label {
    display: inline;
    
    &:after {
        content: '';
        display: inline-block;
        height: 0;
        width: 0; 
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-top: 0.5em solid $color-dropdown-arrow;
    }
}

.sub-header {
    background-color: $color-alabaster;
    padding: 2em 0;
    width: 100%;
}

#header-main {
    background-color: $color-header;
    line-height: 4em;

    a {
        text-transform: uppercase;
    }
    
    nav {
        float: left;
        
        ul {
            list-style: none;
            
            li {
                display: inline-block;
            }
        }
    }

    .dropdown {
        ul {
            background-color: $color-dropdown;
            border-color: $color-dropdown-border;
            border-style: solid;
            border-width: 0.1em;
            margin: 0;
            padding: 0;
            position: absolute;
            visibility: hidden;
            
            &:after {
                border-left: 0.8em solid transparent;
                border-right: 0.8em solid transparent;
                border-bottom: 1em solid $color-dropdown-border;
                content: '';
                display: block;
                left: 1.15em;
                height: 0;
                position: absolute;
                top: -1em;
                width: 0; 
            }
            
            li {
                display: block;
                float: none;
                line-height: 2.5em;
                width: 100%;
                
                a {
                    display: block;
                    height: 100%;
                    padding: 0 2em;
                    
                    &:hover {
                        background-color: $color-dropdown-hover;
                    }
                }
            }
        }
    }
}

#header-tabs {
    background-color: $color-header-tabs;
    line-height: 3em;

    a {
        text-transform: uppercase;
    }
    
    ul {
        list-style: none;
        width: 100%;
        
        li {
            display: inline-block;
            float: left;
            height: 100%;
            text-align: center;
            width: 25%;
            
            a {
                border-color: $color-header-tabs-border;
                border-style: solid;
                border-width: 0.1em;
                display: block;
                height: 100%;
                padding: 0;
                width: 100%;
                
                &.active {
                    border-bottom-color: $color-header-tabs-active;
                    background-color: $color-header-tabs-active;
                }
            }
        }
    }
}

#logo {
    @include accent-family;

    float: left;
    font-size: 2.5em;
}

#nav-for-reader {
    background-color: $color-manuscript-nav;
    line-height: 3em;
    width: 100%;
    
    a {
        padding: 0 0 0 0.75em;
    }
    
    hr {
        margin: 0;
    }
    
    table {
        height: 3em;
        width: 100%;
    
        #selector-for-reader,
        #selector-for-writer {
            margin: 0;
            width: 20em;
        }
        
        .td-to-fit {
            text-align: center;
        }
        
        td {
            vertical-align: middle;
        }
    }
}