select,
textarea,
input[type="email"],
input[type="password"],
input[type="text"] {
    border: 1px solid $color-border-inputs;
    padding: 0.5em;
    width: 100%;
    
    &.field-error {
        border-color: $color-border-errors;
    }
}

.field {
    margin-bottom: 16px;
}
