.color-band {
    @include color-band( $color-gallery, $size-content-width );
}

.content {
    @include overflow-clear;
    
    margin-left: auto;
    margin-right: auto;
    width: $size-content-width;

    &.-narrow {
        width: $size-content-narrow-width;
    }

    &.-slender {
        width: $size-content-slender-width;
    }
}

.help-tiles {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    
    td {
        background-color: darken( $color-white, 15% );
        border-color: $color-white;
        border-style: solid;
        border-width: 1em;
        padding: 2em;
    }
    
    :first-child {
        border-top: 0;
    
        * {
            border-top: 0;
        }
    }
    
    :last-child {
        border-bottom: 0;
        
        * {
            border-bottom: 0;
        }
    }
    
    tr, tr :first-child {
        border-left: 0;
    }
    
    tr, tr :last-child {
        border-right: 0;
    }
}

.notebox {
    background-color: $color-gallery;
    display: block;
    font-size: 16px;
    padding: 0.75em;
    width: 100%;
}

.page-content {
    padding-top: 3em;
    padding-bottom: 3em;
    
    &.-lowered {
        padding-top: 8em;
    }
}

.page-content--admin {
    padding-left: 23em;
    padding-right: 3em;
    padding-top: 14em;
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}
