.align-middle { vertical-align: middle; }
.align-top { vertical-align: top; }
.fitted { text-align: center; white-space: nowrap; }
.maximized { width: 99%; }

.faux-table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    
    & > * {
            display: table-row;
          
            & > * {
                display: table-cell;
                vertical-align: middle;
            }
    }
}

.spacers--vertical {
    & > * {
    
        & > * {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        
        & > *:first-child {
            padding-left: 0;
        }
        
        & > *:last-child {
            padding-right: 0;
        }
    }
}

.table-narrow {
    border-bottom: 0.1em solid $color-table-border;
    border-top: 0.1em solid $color-table-border;
    width: 100%;
    
    td {
        font-size: 1.2em;
        line-height: 1.4em;
        padding: 0.5em;
    }
    
    th {
        line-height: 1.75em;
        padding: 0.5em;
    }
}

.table-wide {
    border-bottom: 0.1em solid $color-table-border;
    border-top: 0.1em solid $color-table-border;
    margin-bottom: 4em;
    width: 100%;
    
    td {
        font-size: 1.2em;
        line-height: 2em;
        padding: 0.5em;
    }
    
    th {
        line-height: 2.5em;
        padding: 0.5em;
    }
}

.tr-even {
    background-color: $color-tr-even;
}

.tr-odd {
    background-color: $color-tr-odd;
}