.align-baseline { vertical-align: baseline; }
.align-middle { vertical-align: middle; }
.align-top { vertical-align: top; }
.fitted { text-align: center; white-space: nowrap; }
.maximized { width: 99%; }

.even-split {
    @include faux-table;
    @include spacers--vertical;
    
    width: 100%;
    
    > * > * {
        width: 50%;
    }
}

.faux-table {
    @include faux-table;
}

.spacers--vertical {
    @include spacers--vertical;
}

.table-narrow {
    border-bottom: 0.1em solid $color-silver;
    border-top: 0.1em solid $color-silver;
    width: 100%;
    
    td {
        font-size: 1.2em;
        line-height: 1.4em;
        padding: 0.5em;
    }
    
    th {
        border-bottom: 0.1em solid $color-silver;
        font-weight: bold;
        padding: 0.5em;
        text-transform: uppercase;
    }
}

.table-wide {
    border-bottom: 1px solid $color-silver;
    border-top: 1px solid $color-silver;
    width: 100%;
    
    td {
        padding: 1em;
        
        a, 
        span {
            font-size: 1.125em;
        }
    }
    
    th {
        border-bottom: 0.1em solid $color-silver;
        padding: 0.5em 1em;
        
        a,
        span {
            font-size: 0.875em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.tr-even {
    background-color: $color-alabaster;
}

.tr-odd {
    background-color: $color-gallery;
}
