body {
    @include sans-serif-family;

    color: $color-text-default;
}

b, strong { font-weight: bold; }
em, i { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 16px; }

label {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0.6em;
    padding-bottom: 4px;
    text-transform: uppercase;
}

p {
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 16px;
}

.centered { text-align: center; }

.error-message {
    color: $color-danger;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 0.25em 0 0;
}

.field-note {
    color: $color-dove-gray;
    display: inline-block;
    font-size: 16px;
    padding: 0 0 0.25em 0.5em;
}

.heading { 
    @include serif-family;
    
    &.-fine { font-size: 24px; }
    &.-medium { font-size: 28px; }
    &.-large { font-size: 32px; }
    &.-grand { font-size: 48px; }
    &.-giant { font-size: 64px; }
    
    &.-flourish { @include accent-family; }
    &.-subtle { color: $color-gray; }
}

.logo { @include accent-family; font-size: 3em; }

.no-white-space { line-height: 1em; margin: 0; padding: 0; }

.t-fine { font-size: 16px; }
.t-medium { font-size: 18px; }
.t-large { font-size: 20px; }

.t-danger { color: $color-danger; }
.t-subtle { color: $color-gray; }

a, span { &.underlined { text-decoration: underline; } }
h1, h2, h3, h4, h5, h6 { &.underlined { border-bottom: 2px solid $color-silver; display: block; padding-bottom: 4px; width: 100%; } }
