* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#logo {
    float: left;
}

.clear {
    clear: both;
}

.content {
    margin: auto;
    width: 50%;
}

.content-wide {
    margin: auto;
    width: 60%;
}

.in-text-list {
    list-style: square;
    list-style-position: inside;
    padding-left: 1em;
}

.padding-top-4em {
    padding-top: 4em;
}

.text-align-center {
    text-align: center;
}

footer {
    .content {
        border-color: darken( $color1, 95% );
        border-style: solid;
        border-width: 1px 0 0 0;
        padding-top: 2em;
    }
    margin-top: 2em;
    ul {
        float: left;
        margin-left: 4em;
    }
}

header {
    #header-help {
        background-color: darken( $color1, 10% );
        line-height: 3em;
        ul {
            list-style: none;
            li {
                a {
                    &:hover {
                        border-bottom: 0;
                    }
                    border-color: darken( $color1, 50% );
                    border-style: solid;
                    border-width: 0 0.1em 0.1em 0.1em;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
                display: inline-block;
                float: left;
                height: 100%;
                text-align: center;
                width: 25%;
            }
            width: 100%;
        }
    }
    #header-main {
        background-color: darken( $color1, 5% );
        line-height: 4em;
        nav {
            float: left;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    margin-left: 2em;
                }
            }
        }
    }
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}