.emphasis {
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    text-transform: uppercase;
}

#intro-text {
    font-size: 1.2em;
    line-height: 1.2em;
}

body {
    font-family: 'candara', 'helvetica', sans;
    font-size: 1.125em;
    line-height: 1.25em;
}

h2 {
    font-size: 2.2em;
    line-height: 1.25em;
}

h3 {
    font-family: 'Kalam';
    font-size: 1.4em;
    line-height: 1.55em;
}

html {
    font-size: 100%;
}