.intro-text {
    font-size: 1.2em;
    line-height: 1.2em;
}

#logo {
    font-family: 'Kalam', cursive;
    font-size: 2.5em;
}

.emphasis {
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    text-transform: uppercase;
}

a {
    color: darken( $color1, 95% );
    text-decoration: none;
}

body {
    color: darken( $color1, 95% );
    font-family: 'candara', 'helvetica', sans;
    font-size: 1em;
    line-height: 1.25em;
}

h2 {
    font-size: 2.0em;
    line-height: 1.25em;
}

h3 {
    font-family: 'Kalam';
    font-size: 1.4em;
    line-height: 1.55em;
}

header {
    a {
        text-transform: uppercase;
    }
}

html {
    font-size: 100%;
}