@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#intro {
    height: 100%;
    padding: 1.5em;
    text-align: left;
    width: 100%;
}

#intro-wrapper {
    background-color: $color1;
    width: 60%;
}

#news {
    background-color: $color1;
    margin-top: 1.5em;
    padding: 1.5em;
    width: 100%;
}

#sign-up {
    background-color: $color1;
    input[type=text], input[type=password] {
        margin-bottom: 0.5em;
        width: 100%;
    }
    padding: 1.5em;
    text-align: left;
    vertical-align: top;
}

#table-welcome {
    width: 100%;
}

#td-transparency {
    background-color: transparent;
    width: 1.5em;
}

body {
    background-attachment: fixed;
    background-color: #eeeeee;
    background-image:
    radial-gradient(circle at 0% 100%, #ccdddd 0%, transparent 60%),
    radial-gradient(circle at 100% 50%, #ddeedd 0%, transparent 60%);
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.2em;
}

main {
    margin-top: 4em;
    padding-top: 2em;
}

.report {
    font-size: 1.25em;
}

.table {
    display: table;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}