@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#intro {
    display: inline-block;
    max-width: 550px;
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

#sign-up {
    display: inline-block;
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

.table {
    display: table;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.wrapper {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

body {
    background-color: darken( $color1, 10% );
}

main {
    padding-top: 4em;
}