@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#intro {
    display: inline-block;
    padding: 25px;
    text-align: left;
    vertical-align: top;
    width: 60%;
}

#sign-up {
    display: inline-block;
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

.table {
    display: table;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}


body {
    background-color: darken( $color1, 10% );
}

main {
    margin-top: 4em;
    padding-top: 2em;
}