@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

.category {
    width: 30%;
}

.forum, .forums-community, .forums-writing {
    border-bottom: 0.1em solid darken( $color1, 25% );
    border-top: 0.1em solid darken( $color1, 25% );
    margin-bottom: 4em;
    td {
        font-size: 1.2em;
        line-height: 2em;
        padding: 0.5em;
    }
    th {
        line-height: 2.5em;
        padding: 0.5em;
    }
    width: 100%;
}

.td-fill-remainder {
    width: 99%;
}

.td-to-fit {
    text-align: center;
    white-space: nowrap;
}

.tr-even {
    background-color: darken( $color1, 2.5% );
}

.tr-odd {
    background-color: darken( $color1, 7.5% );
}

#conversation-info {
    .link-button-like {
        font-size: 1.2em;
    }
    margin-bottom: 2em;
}