@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

.help-tiles {
    border-collapse: collapse;
    table-layout: fixed;
    td {
        background-color: darken( $color1, 15% );
        border-color: $color1;
        border-style: solid;
        border-width: 1em;
        padding: 2em;
    }
    :first-child {
        * {
            border-top: 0;
        }
        border-top: 0;
    }
    :last-child {
        * {
            border-bottom: 0;
        }
        border-bottom: 0;
    }
    tr, tr :first-child {
        border-left: 0;
    }
    tr, tr :last-child {
        border-right: 0;
    }
    width: 100%;
}

body {
    margin-top: 7em;
    padding-top: 2em;
}