@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#signin {
    border: 2em solid darken( $color1, 10% );
    h2 {
        text-align: center;
    }
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 30em;
}