@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#sidebar-member {
    * {
        margin: auto;
    }
    float: left;
    text-align: center;
    width: 30%;
}

body {
    background-color: $color1;
}

main {
    margin-top: 7em;
}