@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#direc {
    margin: 1.5em 0;
    width: 100%;
}

#div-comments, #div-conversations {
    margin-bottom: 2em;
    width: 100%;
}

#div-gravatar {
    margin: 0.5em 0;
}

#div-profile {
    margin-left: 14em;
}

#sidebar-member {
    float: left;
    text-align: center;
    width: 12em;
}

.div-book {
    display: block;
    position: relative;
    width: 100%;
}

.div-book-writing {
    left: 0;
    padding: 2em 1em 1em 2em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.div-book-wrapper {
    clear: both;
    display: block;
    position: relative;
}

.div-manuscript-inkling {
    border-bottom: 0.1em solid darken( $color1, 10% );
    border-top: 0.1em solid darken( $color1, 10% );
    min-height: 36.2em;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0.5em;
    width: 100%;
}

.div-manuscript {
    display: inline-block;
    float: left;
    width: 27.5%;
}

.div-inkling-container {
    height: 9em;
    width: 13.875em;
}

.div-inkling-habitat {
    border: 0.1em dotted darken( $color1, 10% );
    display: inline-block;
    float: right;
    height: 100%;
    min-height: 35em;
    width: 70%;
}

.img-book {
    width: 100%;
}

.table-user {
    & td:last-child {
        width: 100%;
    }
    td {
        vertical-align: middle;
        white-space: nowrap;
    }
}

.friend {
    float: left;
    margin: 1em;
    text-align: center;
    width: 10em;
}

.direc-link {
}

.users {
    li {
        border-bottom: 1px solid darken( $color1, 15% );
        padding: 0.75em 0;
        overflow: auto;
    }
    list-style: none;
    margin: 0;
}

body {
    background-color: $color1;
}