@import '../base/mixins.css.scss';
@import '../base/variables.css.scss';

#direc {
    margin: 1.5em 0;
    width: 100%;
}

#div-comments, #div-conversations {
    margin-bottom: 2em;
    width: 100%;
}

#div-gravatar {
    margin: 0.5em 0;
}

#div-profile {
    margin-left: 14em;
}

#sidebar-member {
    float: left;
    text-align: center;
    width: 12em;
}

.table-user {
    & td:last-child {
        width: 100%;
    }
    td {
        vertical-align: middle;
        white-space: nowrap;
    }
}

.friend {
    float: left;
    margin: 1em;
    text-align: center;
    width: 10em;
}

.direc-link {
}

.users {
    li {
        border-bottom: 1px solid darken( $color1, 15% );
        padding: 0.75em 0;
        overflow: auto;
    }
    list-style: none;
    margin: 0;
}

body {
    background-color: $color1;
}