- flash.each do | message_type, message |
    - if %W[ danger info success warning ].include? message_type
        = content_tag( :div, sanitize( message ), :class => "alert-#{ message_type } div-flash" )