<div class="menu" contenteditable="false">
    <div class="group">
        <span data-action="bold" class="fa fa-bold"></span>
        <span data-action="italic" class="fa fa-italic"></span>
        <span data-action="underline" class="fa fa-underline"></span>
        <div class="clear"></div>
    </div>
    <div class="group">
        <span data-action="undo" class="fa fa-undo"></span>
        <span data-action="redo" class="fa fa-repeat"></span>
        <div class="clear"></div>
    </div>
    <div class="group">
        <div class="intermediate-control-wrapper">
            <span data-action="open" class="fa fa-text-height">
                <span data-action="fontSize" data-value="16px">16</span>
                <span data-action="fontSize" data-value="18px">18</span>
                <span data-action="fontSize" data-value="24px">24</span>
                <div class="clear"></div>
            </span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group">
        <span data-action="heading" class="fa fa-header"></span>
        <span data-action="orderedList" class="fa fa-list"></span>
        <span data-action="quote" class="fa fa-quote-right"></span>
        <div class="clear"></div>
    </div>
    <div class="group">
        <span data-action="textAlignment" data-value="left" class="fa fa-align-left"></span>
        <span data-action="textAlignment" data-value="center" class="fa fa-align-center"></span>
        <span data-action="textAlignment" data-value="right" class="fa fa-align-right"></span>
        <span data-action="textAlignment" data-value="justify" class="fa fa-align-justify"></span>
        <div class="clear"></div>
    </div>
</div>
