<div class="menu" contenteditable="false">
    <div class="group">
        <span data-action="bold" data-method="toggle" class="editor-control fa fa-bold js-editor-button"></span>
        <span data-action="italic" data-method="toggle" class="editor-control fa fa-italic js-editor-button"></span>
        <span data-action="underline" data-method="toggle" class="editor-control fa fa-underline js-editor-button"></span>
        <div class="clear"></div>
    </div>
    <div class="group">
        <span data-action="undo" data-method="special" class="editor-control fa fa-undo js-editor-button"></span>
        <span data-action="redo" data-method="special" class="editor-control fa fa-repeat js-editor-button"></span>
        <div class="clear"></div>
    </div>
    <div class="group">
        <div class="intermediate-control-wrapper">
            <span data-action="fontSize" data-method="intermediate" class="editor-control fa fa-text-height js-editor-button"></span>
            <div class="editor-control__sub-controls js-sub-controls">
                <span data-action="fontSizeS" data-method="select" data-size="16" class="editor-control js-editor-button">1</span>
                <span data-action="fontSizeM" data-method="select" data-size="24" class="editor-control js-editor-button">2</span>
                <span data-action="fontSizeL" data-method="select" data-size="32" class="editor-control js-editor-button">3</span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="group">
        <span data-action="heading" data-method="toggle" class="editor-control fa fa-header js-editor-button"></span>
        <span data-action="orderedList" data-method="toggle" class="editor-control fa fa-list js-editor-button"></span>
        <span data-action="quote" data-method="toggle" class="editor-control fa fa-quote-right js-editor-button"></span>
    </div>
</div>
