= form_for @open_section, :method => 'patch', :remote => true, :html => { :id => 'form-section-update' } do | f |
    = render :partial => 'shared/error_messages', :locals => { :object => f.object }
    %p
        = f.label :content, @open_section.name
        = f.text_area :content, :id => 'section-content'