= form_for( @open_section, { :html => { :id => 'form-section-update' }, :method => 'patch', :remote => true } ) do | f |
    %div.field
        = f.label( :content, @open_section.name )
        = f.text_area( :content, { :id => 'section-content' } )
        = f.error_message( :content )
