%div.page-content
    %div
        %textarea.js-squire-standin
%script{ :type => 'text/javascript' }
    :plain
        $( document ).ready( function (  ) {
          new SquireUI( {
              buildPath: '/shared/',
              replace: 'textarea.js-squire-standin'
          } );
        } );
