@font-face {
  font-family: 'Fontin';
  src: url(font-path('fontin/Fontin-Regular.eot')); /* IE9 Compat Modes */
  src: url(font-path('fontin/Fontin-Regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
  url(font-path('fontin/Fontin-Regular.woff')) format('woff'), /* Pretty Modern Browsers */
  url(font-path('fontin/Fontin-Regular.ttf')) format('truetype'), /* Safari, Android, iOS */
  url(font-path('fontin/Fontin-Regular.svg')) format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin Sans';
  src: url(font-path('fontin_sans/FontinSans-Regular.eot')); /* IE9 Compat Modes */
  src: url(font-path('fontin_sans/FontinSans-Regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
  url(font-path('fontin_sans/FontinSans-Regular.woff')) format('woff'), /* Pretty Modern Browsers */
  url(font-path('fontin_sans/FontinSans-Regular.ttf')) format('truetype'), /* Safari, Android, iOS */
  url(font-path('fontin_sans/FontinSans-Regular.svg')) format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url(font-path('kalam/Kalam-Regular.eot')); /* IE9 Compat Modes */
  src: url(font-path('kalam/Kalam-Regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
  url(font-path('kalam/Kalam-Regular.woff')) format('woff'), /* Pretty Modern Browsers */
  url(font-path('kalam/Kalam-Regular.ttf')) format('truetype'), /* Safari, Android, iOS */
  url(font-path('kalam/Kalam-Regular.svg')) format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
