
.aside-user {
    float: left;
    padding: 2em 0;
    text-align: center;
    width: 10em;
}

.date {
    float: right;
    padding: 0.5em;
}

.div-inkling-habitat {
    border: 0.1em dotted darken( $color-white, 10% );
    height: 40em;
    position: relative;
    width: 100%;
}

.div-inkling-wrapper {
    display: block;
    height: 15em;
    left: calc( 50% - 11.563em );
    top: calc( 50% - 7.5em );
    width: 23.125em;
}

.editor__button {
    background-color: $color-alto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    user-select: none;
    width: 2.5em;
    z-index: 10;
    
    &.-open {
        background-color: $color-silver;
        border: 1px solid $color-gray;
    }
}

.editor__control-panel {
    z-index: 10;
}

.editor__sub-buttons {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    top: -2.5em;
    width: 325%;
    z-index: 10;
}

.editor-textarea {
    border-left: 1px dotted $color-silver-chalice;
    border-right: 1px dotted $color-silver-chalice;
    height: 400px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
}

.feedback {
    margin-left: 14em;
    padding: 2em;
    
    p {
        font-size: 1.2em;
    }
}

.feedback-info {
    background-color: $color-white;
    border-bottom: 0.1em solid darken( $color-white, 25% );
    font-weight: bold;
    line-height: 1.5em;
}

.group {
    display: inline-block;
    margin-right: 1em;
}

.handle {
    display: block;
    height: 0.8em;
    width: 0.8em;
    
    &::after {
        background-color: darken( $color-white, 5% );
        border-radius: 0.35em;
        content: '';
        display: block;
        height: 0.7em;
        left: 0.05em;
        position: relative;
        top: -0.75em;
        width: 0.7em;
    }
    
    &::before {
        background-color: darken( $color-white, 85% );
        border-radius: 0.4em;
        content: '';
        display: block;
        height: 0.8em;
        position: relative;
        top: 0em;
        width: 0.8em;
    }
}

.handle-wrapper {
    display: table;
    vertical-align: center;
}

// CSS priority requires the specification of type to override the styles
// in global-styles.css.scss.
input[type="text"].input-inline,
.input-inline {
    display: inline-block;
    width: 10em;
}

.intermediate-control-wrapper {
    position: relative;
}

.li-feedback {
    background-color: darken( $color-white, 7.5% );
    border: 0.1em solid darken( $color-white, 25% );
    margin-bottom: 1em;
}

.name {
    float: left;
}

.number {
    float: left;
    padding: 0.5em;
}

#div-table-of-contents {
    background-color: darken( $color-white, 5% );
    padding: 1.5em;
    
    input {
        background-color: darken( $color-white, 5% );
        border: 0.1em solid darken( $color-white, 5% );
        font-size: 0.85em;
        margin: 0;
        
        &:focus {
            background-color: darken( $color-white, 2.5% );
            border: 0.1em solid darken( $color-white, 15% );
        }
        
        &:hover {
            border: 0.1em solid darken( $color-white, 10% );
        }
    }
}

#instructions {
    margin-bottom: 1em;
}

#section-content {
    height: 40em;
}

#table-of-contents {
    border-top: 0.1em solid darken( $color-white, 25% );
    margin-bottom: 1em;
    width: 100%;
    
    td {
        font-size: 1.2em;
        line-height: 1.4em;
        padding: 0.5em;
    }
    
    th {
        line-height: 1.75em;
        padding: 0.5em;
    }
}
