%section.utility-bar.-admin
    %div.column-100.full-height
        %div.faux-table.full-height.full-width.spacers--vertical
            %div
                %div.utility-bar__title
                    %h1.heading.-large.no-white-space
                        = yield( :utility_title ) if content_for?( :utility_title )
                %div.utility-bar__utilities
                    = yield( :actions ) if content_for?( :actions )
