<svg 
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    viewBox="0 0 540 762">
	<g transform="translate(-80,-112)">
		<rect style="fill:#7c8483;" height="760" width="540" y="112" x="80"/>
		<path style="fill:#5d6261;" d="m80,112s9.96-1,15-1,15,1,15,1v760s-9.99,1-15,1-15-1-15-1z"/>
		<rect style="fill:#4d5353;" height="760" width="10" y="112" x="110"/>
		<path style="fill:#dee0e0;" d="m120,112,500,0-5,5-490,0z"/>
		<path style="fill:#bec1c1;" d="m120,112,5,5,0,750-5,5z"/>
		<path style="fill:#3e4141;" d="m125,867,490,0,5,5h-500z"/>
		<path style="fill:#5d6261;" d="m615,117,5-5,0,760-5-5z"/>
	</g>
</svg>
