- content_for( :title ) { manuscripts_edit_title( @manuscript ) }

%main.page-content
    %div.content
        %h2
            Manuscript Settings
        %div
            = render( { :partial => 'form.html.haml', :locals => { :manuscript => @manuscript } } )
