- content_for( :title ) { manuscripts_new_title }

%main.page-content
    %div.content
        %h2
            Create a New Manuscript
        %div
            = render( { :partial => 'form.html.haml', :locals => { :manuscript => @manuscript } } )
