- content_for( :title ) { manuscripts_write_title( @manuscript ) }

- content_for( :body ) do

    %div.content-wide
        %h2
            = @manuscript.title
        - if @manuscript.sections.any?
            = collection_select :section, :id, @sections, :id, :name, { :selected => ( params[ :section ].nil? ? 1 : params[ :section ] ) }, { :id => 'selector-for-links' }
            %div#open-section
                = render :partial => 'sections/open_section', :object => @open_section
        - else
            %p
                This manuscript does not currently have any sections. Visit the Contents tab to create and manage sections.