- content_for( :title ) { 'Forum Board' }

- content_for( :body ) do

    %div.content
        %div
            = link_to 'New Thread', new_forum_thread_path( :board_id => params[ :id ] )
        %table
            %tr
                %th
                    Thread
                %th
                    Participants
                %th
                    Latest Post
                - for thread in @threads
                    %tr
                        %td
                            = link_to h( thread.name ), forum_thread_path( thread.id )
                        %td
                            = thread.forum_posts.distinct.count( :user_id )