- content_for( :header ) { render :partial => 'layouts/admin/header.html.haml' }
- content_for( :footer ) { render :partial => 'layouts/admin/footer.html.haml' }

= render :template => 'layouts/application'
