- content_for( :meta ) { csrf_meta_tags }
- content_for( :stylesheet ) { stylesheet_link_tag 'application' }
- content_for( :javascript ) { javascript_include_tag 'application' }

- content_for( :header ) { render :partial => 'layouts/header.html.haml' }
- content_for( :footer ) { render :partial => 'layouts/footer.html.haml' }

= render :template => 'layouts/application'
