- content_for( :header ) { render :partial => 'layouts/components/header.html.haml' }
- content_for( :footer ) { render :partial => 'layouts/components/footer.html.haml' }

= render :template => 'layouts/application.html.haml'
